.main{
    background-color: silver;
    width:100%;
    justify-content:space-around;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
}
.main-section{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.article-left{
    text-align:center;
    width:25%;
    height:10%;
    background-color: chartreuse;
}
.article-right{
    width:74%;
    background-color: bisque;
}



